//- **********************************************************************
//- footer
//- **********************************************************************
footer.l-footer
  div.l-footer__top
    div.l-footer__container.l-footer__container--has_grid
      div.l-footer__grid
        //-
        div.c-logo.p-logo.p-logo--type_footer
          a.c-logo__inner(href=`${relativePath}`)
            img.c-logo__item(src=`${relativePath}assets/img/logo/logo.svg` alt="logo")
      div.l-footer__grid
        //-
        div.p-sitemap
          ul.p-sitemap__list
            li.p-sitemap__divider
              a.p-sitemap__item(href=`${relativePath}`)
                p.p-sitemap__txt Top
            li.p-sitemap__divider
              a.p-sitemap__item(href=`${relativePath}about`)
                p.p-sitemap__txt About us
            li.p-sitemap__divider
              a.p-sitemap__item(href=`${relativePath}development`)
                p.p-sitemap__txt Development
            li.p-sitemap__divider
              a.p-sitemap__item(href=`${relativePath}welfare`)
                p.p-sitemap__txt Welfare
            li.p-sitemap__divider
              a.p-sitemap__item(href=`${relativePath}recruitment`)
                p.p-sitemap__txt Recruitment
            li.p-sitemap__divider
              a.p-sitemap__item(href=`${relativePath}entry`)
                p.p-sitemap__txt Entry
            li.p-sitemap__divider
              a.p-sitemap__item(href=`https://kyotokojohokenkai.jp/policy/` target="_blank")
                p.p-sitemap__txt Privacy Policy
  div.l-footer__bottom
    div.l-footer__container


      
  p.p-copy &copy; 2023 Kyoto Healthcare IT Co., Ltd.
