//- **********************************************************************
//- ナビゲーション
//- **********************************************************************
nav.p-gnav#js-gnav
  ul.p-gnav__list
    li.p-gnav__divider
      a.p-gnav__item.js-gnav__item(href=`${relativePath}`)
        span.p-gnav__item__eng TOP
        span.p-gnav__item__jp トップページ
    li.p-gnav__divider
      a.p-gnav__item.js-gnav__item(href=`${relativePath}about`)
        span.p-gnav__item__eng ABOUT US
        span.p-gnav__item__jp 会社概要
    li.p-gnav__divider
      a.p-gnav__item.js-gnav__item(href=`${relativePath}development`)
        span.p-gnav__item__eng DEVELOPMENT
        span.p-gnav__item__jp 開発実績
    li.p-gnav__divider
      a.p-gnav__item.js-gnav__item(href=`${relativePath}welfare`)
        span.p-gnav__item__eng WELFARE
        span.p-gnav__item__jp 福利厚生
    li.p-gnav__divider
      a.p-gnav__item.js-gnav__item(href=`${relativePath}recruitment`)
        span.p-gnav__item__eng RECRUITMENT
        span.p-gnav__item__jp 募集要項
    li.p-gnav__divider
      a.p-gnav__item.js-gnav__item(href=`${relativePath}entry`)
        span.p-gnav__item__eng ENTRY
        span.p-gnav__item__jp 応募フォーム